#detail {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Lato', sans-serif;
}
#detail .detail_inside {
  width: 80%;
  margin: 0 auto 50px;
  padding-top: 70px;
}
#detail .top {
  display: flex;
  width: 100%;
}
#detail .topLeft {
  width: 50%;
}
#detail .topRight {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
#detail .mid {
  border-bottom: 1px solid lightgray;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
#detail .mid .info_Detail {
  display: flex;
  width: 100%;
}
#detail .mid h4 {
  font-size: 40px;
}
#detail .leftInfo {
  width: 50%;
}
#detail .leftInfo img {
  width: 100%;
}
#detail .rightInfo {
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px 10px;
}
#detail .rightInfo h4 {
  font-size: 25px;
}
#detail .des {
  width: 100%;
  margin-bottom: 10px;
}
#detail .des.active {
  height: 140px;
}
#detail .des h5 {
  font-size: 18px;
}
#detail .readmore {
  width: 100%;
  background: #fff;
  position: relative;
}
#detail .readmore.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15%;
  display: block;
  background: linear-gradient(to top, #fff, transparent);
  opacity: 1;
  top: 0;
  left: 0;
  transform: translateY(-40px);
}
#detail .readmore p {
  text-align: center;
  color: green;
  font-weight: bold;
}
#detail .des_Info {
  display: flex;
  width: 100%;
}
#detail .des_Info p {
  color: #000;
  font-weight: 400;
  font-size: 15px;
}
#detail .des_Info h5 {
  font-size: 18px;
  width: 30%;
}
#detail .btn_Buy {
  width: 100%;
  text-align: center;
}
#detail .btn_Buy button {
  padding: 10px 50px;
  background: green;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#detail .btn_See {
  width: 100%;
  text-align: center;
}
#detail .btn_See button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 25px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#detail .bottom {
  width: 100%;
}
#detail .bottom .product {
  width: 95%;
  margin: 0 auto;
}
#detail .bottom .product ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}
#detail .bottom .product .card {
  width: 180px;
  margin: 25px 0 0 0;
}
#detail .bottom .product .card img {
  width: 160px;
}
.swal-text {
  text-align: center;
}
@media screen and (max-width: 767px) {
  #detail .detail_inside {
    width: 90%;
  }
  #detail .mid .info_Detail {
    display: inline;
  }
  #detail .leftInfo {
    width: 100%;
  }
  #detail .rightInfo {
    width: 100%;
  }
  #detail .bottom .product {
    justify-content: flex-start;
    overflow-x: scroll;
  }
  #detail .bottom .product ul {
    justify-content: flex-start;
  }
  #detail .bottom .product ul li {
    margin: 0 5px;
  }
}
